@font-face {
	font-family: "Campotype";
	src: url("../font/Campotype.otf");
}

.campotype {
	font-family: "Campotype";
	font-size: 800%;
	text-shadow: 2px 2px 2px #41eeeb;
}

@font-face {
	font-family: "The Jacklyn";
	src: url("../font/The Jacklyn.ttf");
}

.jacklyn {
	font-family: "The Jacklyn";
}

@font-face {
	font-family: "Brilliant Signature";
	src: url("../font/Brilliant Signature.otf");
}

.brilliant {
	font-family: "Brilliant Signature";
	font-size: 350%;
}

.card-img-top {
  width: 30%;
  /* border-top-left-radius: calc(0.25rem - 1px); */
  /* border-top-right-radius: calc(0.25rem - 1px); */
}

.card {
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background: transparent;
  /* background-color: #fff; */
  background-clip: border-box;
  border: none;
  border-radius: 0.25rem;
}
